<link rel="stylesheet" href="./css/home.css">
<h1>Together Strong <%= title %> </h1>

<form method="POST" id="newPost" action="/post/new-post">
    <textarea name="content" id="" cols="30" rows="3" placeholder="Type Here ....."></textarea>
    <input type="submit" value="Post">
</form>

<% for(let i=0; i<posts.length ;i++){%> 
<p><li><%= posts[i].content%> <br>
<%= posts[i].user.name %> </li></p>
<% } %> 
    