<link rel="stylesheet" href="./css/home.css">
<h1>Together Strong <%= title %> </h1>

<form action="POST" id="newPost" action="">
    <textarea name="content" id="" cols="30" rows="3" placeholder="Type Here ....."></textarea>
    <input type="submit" value="Post">
</form>