<form method="POST" action="/user/create-session">
    <input type="text"  placeholder="username" name="userName">
    <input type="password" placeholder="password" name="password">
    <button type="submit">Submit</button>
</form>