    <h1>Together strong <%= title %> </h1>
    <li>Email <%= email%></li>
    <li>Username <%= userName%></li>
    <li>Name <%= name%></li>

    <form method="POST" action="/user/signout">
        <button type="submit">Log Out</button>
    </form>
